.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-weight: 300;
    font-size: 1rem;
}

.footer .name {
    font-weight: 400;
}

.footer .fire {
    padding-left: 5px;
}